
// ###############
// IMPORTS #######

@import url(https://fonts.googleapis.com/css?family=Raleway:600,500);
// @import "assets/sass/animated/animacoes";
@import "assets/sass/normalize";
@import "assets/sass/flexbox";
@import "estructure";

// VARIABLES #####
// ###############

// ------> Cores <----- //
$primary   :darken( #fff000, 10);
// $secondary : #fff000;



// ---> Tipografia <--- //

body {
	background: radial-gradient(#a8e063, #56ab2f);
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: #fff;
	font-family: 'Verdana', sans-serif;
}



@mixin radius($radio: 0.3em){
    -webkit-border-radius: $radio;
}
@mixin transition($duration: 0.2s, $ease:ease-out){
   -webkit-transition: all $duration $ease;
   -moz-transition: all $duration $ease;
   -o-transition: all $duration $ease;
   transition: all $duration $ease;
}

@mixin transform ($translate: translate(-50%,-0)) {
    -webkit-transform: $translate;
    -moz-transform: $translate;
    -o-transform: $translate;
    -ms-transform: $translate;
    transform: $translate;
}

// @mixin transform-origin {
//     -webkit-transform-origin: $arguments;
//     -moz-transform-origin: $arguments;
//     -o-transform-origin: $arguments;
//     -ms-transform-origin: $arguments;
//     transform-origin: $arguments;
// }

@mixin bgGradient {
    background: radial-gradient(circle at 93.97% 87.94%,#fff000, transparent 100%),
                radial-gradient(circle at 6.97% 16.03%, red, transparent 100%),
                radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

// ###############
// DEVELOP #######

body {
    overflow-x: hidden;
    width: 100%;
    @include flex-display;
}

.wrapper {
    @include bgGradient;
    width: 100vw;
    overflow-x: hidden;
    padding: 0 0 30px;

    .canvas {
        position: absolute;
        z-index: 0;
    }

}


.wrap-content {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;


    box-sizing: border-box;
    display: block;
    margin: auto;
    max-width: 1400px;
    padding: 40px 0;
    // position: relative;
    width: 100%;
    z-index: 9999;
    @media(max-width: 1119px) {
       padding: 0 20px;
    }
}

.profile {
    .wrap-profile {
        h1:first-child {
            @include radius(100%);
            display: block;
            height: 140px;
            margin: 40px auto 5px;
            max-width: 140px;
            overflow: hidden;
            position: relative;
            width: 100%;
            img {
                width: 120%;
                margin: -32px -10%;
            }
        }

        h1:last-child {
            @include flexbox(nowrap, center, center, center);
            color: #fff;
            font-size: 2rem;

            &::before {
                background: #fff;
                content: "";
                display: block;
                height: 2px;
                margin-right: 10px;
                width: 100px;
            }
            &::after {
                background: #fff;
                content: "";
                display: block;
                height: 2px;
                margin-left: 10px;
                width: 100px;
            }

            @media(max-width: 550px) {
                font-size: 1rem;
                &::before {
                    width: 60px;
                }
                &::after {
                    width: 60px;
                }
            }
        }

        &::before {
            @include radius(100%);
            @include transform(translate(-50%,-0));
            background: rgba(255,255,255,0.05);
            box-shadow: 3px 3px 0px rgba(0,0,0,0.3);
            border: 20px solid rgba(255,255,255,0.03);
            content: "";
            display: block;
            position: absolute;
            padding: 16%;
            left: 50%;
            top: 5%;
            @media(max-width: 770px) {
               padding: 17%;
            }
            @media(max-width: 550px) {
               padding: 30%;
            }
        }

    }
}

.search-me {
    .title-search_me {
        @include flexbox(nowrap, center, center, center);
        h2 {
            color: #fff;
            font-size: 1.4rem;
            text-align: center;
        }
    }
    .social {
        margin: 15px 0;

        nav {
            ul {
                @include flexbox(nowrap, center, center, center);
                li {
                    @include transform(rotate(45deg));
                    @include radius(10px);
                    @include transition(0.2s);
                    background: rgba(255, 255, 255, 0.4);
                    margin: 0 2px;

                    a {
                        @include transform(rotate(-45deg));
                        @include transition(1s);
                        box-sizing: border-box;
                        color: #fff;
                        display: block;
                        font-size: 1.5rem;
                        height: 50px;
                        padding: 8px 0;
                        text-align: center;
                        width: 50px;
                    }

                    &:hover {
                        @include transition(0.2s);
                        background: $primary;
                        box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
    .ft {
        .dev-lasts-jobs {
            padding: 75px 0 0;

            // flexbox cols
            .colsJobs {
                @include flexbox(nowrap, space-between, stretch, stretch);
                padding: 20px 0 0;
                @media(max-width: 770px) {
                   @include flex-flow(column);
                }
            }

            .title-wrap {
                h2 {
                    @include flex-display;
                    @include flex-flow(column);
                    @include align-items(center);
                    margin: 30px 0;
                    color: #fff;
                    text-align: left;
                    &::after {
                        content: "";
                        background: #fff;
                        height: 2px;
                        width: 100px;
                    }
                }
            }

            .job {
                @include radius(5px);
                @include align-content(space-between);
                @include flex-display;
                @include justify-content(center);
                @include flex-flow(wrap);

                background: #fff;
                box-sizing: border-box;
                margin: 0 0 15px;
                padding: 20px 30px 30px;
                width: calc(100%/3.2);
                @media(max-width: 770px) {
                   width: 100%;
                }

                .head-brand {
                    padding: 0px 0 20px;
                    img {
                        @include flex-display();
                        margin: auto;
                    }
                }

                .job-about {
                    padding: 0 0 20px;
                    @media(max-width: 500px) {
                        padding: 0 0 30px;
                    }
                    @media(min-width: 771px) {
                        padding: 0 0 15%;
                    }
                    @media(min-width: 1000px) {
                        padding: 0 0 20px;
                    }

                    h3 {
                        margin: 0 0 10px;
                    }
                }

                .site-link {
                    a {
                        @include radius(5px);
                        @include transition();
                        background: $primary;
                        color: #fff;
                        display: table;
                        font-size: 1.2rem;
                        font-weight: 600;
                        line-height: 20px;
                        margin: 10px 0 0;
                        margin: 30px auto 0;
                        max-width: 130px;
                        padding: 12px 10px 10px;
                        position: relative;
                        width: 100%;

                        p {
                            @include transition();
                            @include transform(translate(-50%, -50%));
                            float: left;
                            position: relative;
                            left: 50%;
                            top: 8px;
                        }

                        span {
                            @include transition();
                            opacity: 0;
                            position: absolute;
                            top: 13px;
                            right: 20px;
                        }
                        &:hover {
                            @include transition();
                            background: red;
                            max-width: 160px;
                            p {
                                @include transition();
                                left: 40%;
                            }
                            span{
                                @include transition();
                                opacity: 1;
                                right: 10px;
                            }
                        }
                    }
                }

                footer {
                    width: 100%;
                }
            }
            .job-1 {
                .head-brand {
                    img {
                        max-width: 250px;
                        margin: 15px auto 0;
                    }
                }
            }
            .job-2 {
                .head-brand {
                    img {
                        max-width: 180px;
                    }
                }
            }

        }
    }
}



